<div class="breadcrumbs"><%= link_to "Home", root_path %> > <%= link_to "Whiners index", whiners_path %> > Whiner account edit:</div>
<div id="body_container" class="wrapper">
    <%= render 'form' %>
</div>